<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VInput Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VInput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE3CCB6F1DC286DE0036DEF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE3CCB831DC286DE0036DEF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE3CCB8E1DC286DE0036DEF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE3CCBA41DC286F50036DEF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
