<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VInput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VInputContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE5729BF1DB716BC0062FF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5729D81DB716BD0062FF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5729E31DB716BD0062FF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5729F91DB716CD0062FF21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
